/* The Modal (background) */
#qrcode {
    display: flex;
    justify-content: center; /* horizontally center the div */
    align-items: center; /* vertically center the div */
  }
  .modalmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    padding-left: 50%; /* Location of the box */    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modalbox {
  
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    width: 44%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* Modal Content */
  .modalmodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .closemodal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closemodal:hover,
  .closemodal:focus
  {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animatemodal {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatemodalzoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatemodalzoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  .custom-red-btn {
      background-color: #ff0000;
      color: #fff;
      border: none;
  }
  .custom-blue-btn {
      background-color: #0000ff;
      color: #fff;
      border: none;
  }